* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: $black;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: $black;
  transition: color .32s ease 0s;

  &:hover {
    color: lighten($black, 25%);
  }
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: auto;
  height: auto;
}

input {
  height: 2.5em;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;

  &::placeholder {
    color: #BDBDBD;
    font-size: 1.24em;
  }
}

label {
  font-size: .875em;
  display: block;
  color: darken($lightgray, 32%);
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}