.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 4px;
  background-color: $black;
  color: #fff;
}