*
  margin: 0
  padding: 0
  font-family: monospace
  box-sizing: border-box

html, body, #app
  height: 100%

h1, h2, h3, h4, h5
  font-family: sans-serif

button.save-btn
  font-family: sans-serif
  border: 0
  outline: none
  background-color: lightblue
  border-radius: 4px
  padding: 1em 2em
  cursor: pointer
  color: #fff
  font-size: 1em

.login, .dashboard
  display: flex
  justify-content: center
  padding-top: 4em

.dashboard
  h4
    margin-bottom: 2em

.posts
  margin-top: 2em

code
  display: block
  background-color: #3a465d
  color: #feffff
  width: 30em
  padding: 1em
  border-radius: 4px

.list
  margin-top: 2em

  &-item
    margin-top: 1em